# Dependencies
node_modules
.pnp
.pnp.*

# Next.js
.next
out
build

# Sanity Studio
studio/dist
studio/.sanity
studio/schema.json

# Logs / coverage
logs
*.log
.pnpm-debug.log*
coverage

# Misc
.DS_Store
*.pem

# Env
.env*
!.env.example

# Typescript
*.tsbuildinfo
next-env.d.ts
